body {
  margin:0;
  padding:0;
  overflow:hidden;
}

audio {
	width: 450px;
}

.blur { 
	-webkit-filter: blur(5px);
	filter: blur(5px); 
}

.grayscale {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.sepia {
	-webkit-filter: sepia(1);
	filter: sepia(1);
}